[submodule "themes/aggressively-mediocre"]
	path = themes/aggressively-mediocre
	url = https://github.com/katesowles/blank.git
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/katesowles/blank.git
