{{ define "page-main" }}
<!-- prettier-ignore -->
<main role="main" class="constrained-section responsive-section--bottom site-content post-list">
  {{ $posts := .Paginate (where .Site.RegularPages "Type" "in" "posts") }}
  {{ $isUnabridged := false }} {{ if .Site.Params.listFullPosts }} {{ $isUnabridged = true}} {{ end }}

  {{ range $posts.Pages }}
    {{ partial "post-body" (dict "context" . "isInList" true "isUnabridged" $isUnabridged ) }}
  {{ end }}

  {{ partial "post-pagination" . }}
</main>

{{ end }}
