@import "variables.scss";

@media (min-width: $site-breakpoint) {
  html {
    font-size: $textroot-desktop;
  }

  .constrained-section {
    padding: 0 $spacer-md;
  }

  .responsive-section--top {
    margin-top: $spacer-xl;
  }

  .responsive-section--bottom {
    margin-bottom: $spacer-xl;
  }

  .columns {
    flex-direction: row;

    > div {
      padding-left: $spacer-md;
      padding-right: $spacer-md;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:only-child {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
