$backgroundcolor-default: #ffffff;
$backgroundcolor-alt: #efefef;

$border-radius: 4px;
$border-color: #e5e5e5;
$border-dotted: 1px dotted $border-color;
$border-solid: 1px solid $border-color;
$border-solid-thin: 0.5px solid $border-color;
$border-solid-thick: 0.5rem solid $border-color;

// $highlight-color should be semi-transparent since highlight expansion could cover other elements
$highlight-color: rgba(153, 204, 0, 0.5);
$highlight-height: 6px;

$site-breakpoint: 38rem;

$spacer-xl: 5rem;
$spacer-lg: 2rem;
$spacer-md: 1rem;
$spacer-sm: 0.5rem;
$spacer-xs: 0.25rem;

$textcolor-default: #2f2f2f;
$textcolor-light: #595959;
$textcolor-code: #bf616a;

$textfamily-default: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$textfamily-code: Menlo, Monaco, "Courier New", monospace;

$textheight-body: 1.6;
$textheight-heading: 1.2;

$textroot-mobile: 18px;
$textroot-desktop: 20px;

$textsize-xl: 2.25rem;
$textsize-lg: 1.75rem;
$textsize-md: 1.25rem;
$textsize-sm: 1rem;
$textsize-xs: 0.85rem;
$textsize-14: 14px;

$textweight-bold: 600;
$textweight-normal: 300;
