<!-- prettier-ignore -->

<header class="constrained-section responsive-section--top responsive-section--bottom site-header">
  <h1 class="site-title">
    {{ range first 1 (where .Site.Pages.ByTitle "Kind" "home") }}
      <a href="{{ .RelPermalink }}">{{ .Site.Title }}</a>
    {{ end }}
  </h1>

  <nav role="navigation" aria-label="primary" class="primary-nav">
    {{ range .Site.Pages.ByTitle }}
      {{ if and (eq .Kind "page") (ne .Params.Title nil) (ne .Type "posts") }}
        <a class="nav-link page" href="{{ .RelPermalink }}">{{ .Params.Title | default .Type }}</a>
      {{ end }}
    {{ end }}

    {{ if and (.Site.Params.rssFeedLinkText) (.Site.Params.rssFeedLinkUrl) }}
      <a class="nav-link rss-feed" href="{{ .Site.Params.rssFeedLinkUrl }}">{{ .Site.Params.rssFeedLinkText }}</a>
    {{ end }}
  </nav>
</header>
