<!-- prettier-ignore -->

<article class="responsive-section--top post">
  {{ partial "post-frontmatter" (dict "context" .context "isTitleLink" .isInList) }}

  {{ if .isUnabridged }}
    <section class="content unabridged">
      {{ .context.Content }}
    </section>
  {{ else }}
    <section class="content abridged">
      {{ .context.Summary }}
      
      {{ if .context.Truncated }}
      <p class="read-more">
        <a href="{{ .context.RelPermalink }}">See full post...</a>
      </p>
      {{ end }}
    </section>
  {{ end }}
</article>
